.card{
    min-height: 100px;
    min-width: 300px;
}
.overall-details{
    display: flex;
    justify-content: space-between;
}
.blue-color{
    color: #11A6BC;
    outline: #1DBFAF;
    font-size: x-large;
}
.graph{
    margin-top: 35px;
    padding: 20px;
}